.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/img/img.jpg");        
    background-size: cover;            
}

.container1{
    margin: 180px 140px 0px 100px;
}   

.head{
    // display: flex;
    
    .logo{
        float: left;
        text-align: left;
        font-size: 56px;
        color: #F84444;
        width: 400px;
        img{
            margin-top: -10px;
        }        
    }
    
    .menu{        
        float: right;
        margin-top: 40px;
        text-align: right;
        a{
            color: #FFFF;
            margin-left: 50px;
            letter-spacing: 0.2em;
            // text-decoration: underline;            
        }
        a:hover{
            text-decoration: none;
            border-bottom:1px solid #F84444;
        }
    }
}

.utp{    
    margin-top: 100px;
    .utp__zaglav{
        font-size: 76px;
    }
    .utp__text{
        width:800px ;
        letter-spacing: 0.05em;
    }
    hr{
        color: #FFFF;
        margin: -20px 0 50px 0;
        // height: 5px;
        border-top: 1px solid #ffffff;
    }

    .hr__footer{
        margin: 75px 0 50px 0;
        width: 650px;
        border-top: 1px solid #ACABAB;
    }
}

.utp__footer{    
    .utp__footer-stats{
        display: flex;
        float: right;        
        text-align: left;
        .utp__footer-stats-block{
            margin: 30px 50px 0 0;            
            span{
                font-family: 'Roboto';
                font-size: 26px;
                font-weight: bold;
            }
        }
    }
    .utp__footer-sckrol{        
        
    }
    hr{
        color: #FFFF;
        margin: -20px 0 50px 0;
        // height: 5px;
        border-top: 1px solid #ffffff;
    }
}

.map{    
    background-image: url("/img/map.png");
    width: 380px;
    height: 390px;
    background-size: cover;            
    position: relative;
    p{
        position: absolute;
        letter-spacing: 0.1em;
        font-size: 18px;
    }
}
