.background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/img/img.jpg");        
    background-size: cover;            
}

.container1{
    margin: 180px 140px 180px 100px;
}   

.head{
    // display: flex;
    
    .logo{
        float: left;
        text-align: left;
        font-size: 56px;
        color: #F84444;
        width: 400px;
        img{
            margin-top: -10px;
        }        
    }
    
    .menu{        
        float: right;
        margin-top: 40px;
        text-align: right;
        a{
            color: #FFFF;
            margin-left: 50px;
        }
    }
}

.utp{    
    margin-top: 100px;
    .utp__zaglav{
        font-size: 76px;
    }
    .utp__text{
        width:700px ;
    }
    hr{
        color: #FFFF;
        margin: -20px 0 50px 0;
        // height: 5px;
        border-top: 1px solid #ffffff;
    }
}

.utp__footer{
    
    .utp__footer-stats{
        display: flex;
        float: right;        
        text-align: left;
        .utp__footer-stats-block{
            margin: 30px 50px 0 0;
            span{
                font-family: 'Roboto';
                font-size: 26px;
                font-weight: bold;
            }
        }
    }
    .utp__footer-sckrol{        
        
    }
    hr{
        color: #FFFF;
        margin: -20px 0 50px 0;
        // height: 5px;
        border-top: 1px solid #ffffff;
    }

}
