body {
    font-family: 'Playfair Display', serif;
    color: #FFFF;
    width: 100%;
    height: 100%;
    // background-image: url("/img/img.jpg");
    // background-color: aqua;
    // background-position: center;
    // background-size: cover;
  }
  
  div,
  p,
  ul,
  li,
  button,
  span,
  a {
    // border-style: border-box;
    // text-decoration: none;
  }
  
  ul,
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }